/* Generics */
body {
    font-family: sans-serif;
}

/* Utils */

/*BG Color*/
.bg-grey{
background-color: #363636;
}

/*Header*/
.logo img {
    height: 20px;
}

.nav-item>a{
    color: black;
}

.nav-link i{
    color: var(--bs-nav-link-color);
}

/*Main*/

/*Jumbotron*/
.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

